*{
  box-sizing: border-box;
}


html {
  background: #272727;
  color: white;
}

.header {
  display: flex;
  height: 70px;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 0px 80px;
  background: #9406a7;
  color: #72c28c;
}

button {
  height: 44px;
  font-size: 22px;
  padding: 0px 12px;
  color: #72c28c;
  background-color: transparent;
  border: 2px solid #7fc499;
  border-radius: 3px;
  min-width: 125px;
  cursor: pointer;
  
}
button:hover {
  height: 55px;
  font-size: 26px;
  padding: 0px 12px;
  color: #3f6e8d;
  background-color: transparent;
  border: 2px solid #3b90aa;
  border-radius: 3px;
  min-width: 125px;
  cursor: pointer;
}


.page {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.movie-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.movie-card img {
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
}

.watchlist {
  width: 33%;
  height: 100vh;
  border: 4px #3f6e8d;
  overflow-y: scroll;
  position: fixed;
  top: 70px;
  right: 0;
  text-align: center;
}
